body {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

p, a {
    font-family: "Avenir Next", sans-serif !important;
}


#logo {
    position: absolute;
    width: 180px;
    height: 180px;
    margin: 3vh 0 0 15px;
    background-color: rgba(255,255,255,0.7);
    border-radius: 200px;
}

.logo_midori {
    position: relative;
    width: 140%;
    left: -34px;
}

#carousel {
    display: flex;
    width: 100%;
    height: 114vh;
    overflow: overlay;
    position: absolute;
    z-index: -10;
    top: -150px;
    left: 0;
}

@media only screen and (orientation: landscape) {
    #carousel {
        height: 125vh;
        top: -115px;
    }
}

.carousel-item_container {
    width: 100vw;
    overflow: hidden;
}

.text-container {
    position: relative;
    top: 80vh;
    left: 65vw;
    height: 115px;
    width: 115px;
    border-radius: 200px;
    background-color: rgba(255,255,255,0.7);
}

@media only screen and (orientation: landscape) {
    .text-container {
        top: 72vh;
        left: 80vw;
    }
}

.text-container_center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-left: 5px;
}

.carousel-item_container_description {
    text-align: center;
    width: 100px;
    font-size: 0.8em;
}

.carousel-item_container_image {
    height: 100vh;
    object-position: -125vw 0px;
}

@media only screen and (orientation: landscape) {
    .carousel-item_container_image {
        width: 100vw;
        object-position: 0px;
    }
}

#footer {
    display: flex;
    justify-content: space-around;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 55px;
    background-color: white;
    color: black;
    text-align: center;
    font-size: 1.5em;
}

.contact {
    padding-top: 15px;
    padding-left: 10px;
    font-size: 0.8em;
}

@media only screen and (orientation: landscape) {
    #footer {
        justify-content: center;
    }

    .contact {
        padding-right: 20px;
    }
}

.social_item_instagram {
    width: 35px;
    padding-top: 13px;
}