body {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

p, a {
    font-family: "Avenir Next", sans-serif !important;
}


#logo {
    position: absolute;
    width: 225px;
    height: 225px;
    margin: 60px 0 0 15px;
    background-color: rgba(255,255,255,0.7);
    border-radius: 200px;
}

.logo_midori {
    position: relative;
    width: 140%;
    left: -42px;
}

#carousel {
    display: flex;
    width: 100%;
    height: 114vh;
    overflow: scroll;
    position: absolute;
    z-index: -10;
    top: -150px;
    left: 0;
}

.carousel-item_container {
    width: 100vw;
}

.text-container {
    position: relative;
    top: 85vh;
    left: 58vw;
    height: 150px;
    width: 150px;
    border-radius: 200px;
    background-color: rgba(255,255,255,0.7);
}

.text-container_center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-left: 5px;
}

.carousel-item_container_description {
    text-align: center;
    width: 140px;
}

.carousel-item_container_image {
    height: 100vh;
    object-position: -110vw 0px;
}

#footer {
    display: flex;
    justify-content: space-around;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 55px;
    background-color: white;
    color: black;
    text-align: center;
    font-size: 1.5em;
}

.contact {
    padding-top: 10px;
    font-size: 0.8em;
}

.social {
    padding-top: 5px;
    padding-right: 3vw;
}

.social_item_instagram {
    width: 35px;
    padding-top: 5px;
}